.project {
    background: #ffffff;
    border-radius: 15px;

    h3 {
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: lighter;
    }

    .project-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        .project-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 11px;

            img {
                height: 50px;
                width: 50px;
                border: 1px solid #ffe100;
                border-radius: 50%;
            }

            span {
                font-size: 8px;
            }
        }

        .add-project-btn {
            border: 1px solid #769aff;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 0px;

            i {
                color: #769aff;
            }
        }
    }
}
