<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="md-form" style="width: fit-content">
      <input type="text" placeholder="Search content ..." [(ngModel)]="searchText" class="form-control" id="search"
        mdbInputDirective>
    </div>
  </div>
</div>

<button (click)="testConnectPost()">Test </button>

<table class="table table-striped table-responsive-md btn-table">
  <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
  </th>
  <tbody>
    <tr *ngFor="let el of elements; let i = index">
      <th scope="row">{{el.id}}</th>
      <td class="red-text">
        <img src="{{el.thumbnail}}" class="img-fluid post-image" alt="">
      </td>
      <td>
        {{el.content}}
      </td>
      <td>{{el.time | date:'medium'}}</td>
      <td>
        <a class="btn btn-sm btn-primary" routerLink="/preview/post/{{el.id}}">
          Edit
        </a>
      </td>
    </tr>
  </tbody>
</table>
