<div class="daily-container">
  <div class="daily-text">
    <span>DAILY</span> 
    <br> 
    <span>STATUS</span>
  </div>

  <div class="daily-number">
      <div class="post">
          <strong class="number"> 10</strong>
          <span class="text">Post Scheduled</span>
        </div>
      
        <div class="post">
          <strong class="number">10</strong>
          <span class="text">Succesfully Published</span>
        </div>
      
        <div class="post" >
          <strong class="number">10</strong>  
          <span class="text">Errors</span>
        </div>
  </div>
</div>
