<h2>Demo post node js</h2>

<button (click)="showImage()">SHow img</button>

<div *ngIf="imagesFromS3.length === 0 ">
  Loading images .....

</div>

<div *ngIf="imagesFromS3.length > 0 ">
  <ul>
    <li *ngFor="let i of imagesFromS3">
        <img src="{{i}}" alt="{{i}}">
    </li>
  </ul>
</div>


<div *ngIf="imageUrl != '' ">
  {{mess}}
  <img src={{uploadedImageUrl}} alt="">

</div>

<img src="https://gudjobuploadimage.s3.ap-southeast-1.amazonaws.com/1550734179227" alt="">

<form (ngSubmit)="onSubmit()" #articleForm="ngForm" enctype="application/x-www-form-urlencoded">
  <div class="form-group">
    <label for="fullName">Full Name</label>
    <input type="text" name="fullname" [(ngModel)]="article.fullName" class="form-control" id="fullName" required>
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" [(ngModel)]="article.title" class="form-control" id="title" required>
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <textarea class="form-control" name="text" [(ngModel)]="article.articleText" id="articleText" name="articleText" cols="30" rows="10"></textarea>
  </div>

  <div class="form-group">
    <label for="file">Upload image</label>
    <input type="file" accept="image/*" name="imageFile" (change)="onFileChanged($event)" [(ngModel)]='article.imageFile' class="form-control" id="imageFile">
  </div>
 
  <button type="submit">Submit article</button>
</form>
