<h1>hello</h1>

<input type="file" (change)="video($event)"> upload file

<button (click)="schedulePost()">schedule</button>
<button (click)="editSchedulePost('249376455821855_2086875551345036')">edit schedule</button>
<button (click)="getSchedulePost()">get</button>

<!-- <input (change)="uploadVideoToFacebookUsingURL(event)" type="file">Upload video using url -->
<!-- <input (change)="uploadVideoToFacebooFromFile($event)" type="file">Upload video from file -->

<!-- <input type="file" (change)="innitalizeSession($event)" name="file" id="file" #fileUpload>

<button (click)=finishSession(151951951)>upload</button>
<button (click)="uploadVideoToFacebookUsingURL()">Upload video using url</button> -->

<!-- <form enctype="multipart/form-data" method="post"">
  <input type="file" name="files">
  <input type="submit" value="Send">
</form> -->

<!-- 
<form action="POST" enctype="multipart/form-data">
  <input type="file" (change)="onVideoChange($event)" name="file" id="file">
</form> -->

<!-- <button (click)="innitalizeSession(fileUpload.value)">Upload</button> -->
<!-- <div>
  <ul>
    <li *ngFor="let client of clients">
      <img src="client.image" alt="" style="height: 30px;">
      {{client.access_token}}
    </li>
  </ul>
</div>

<div class="input-image">

  <input type="file" (change)="onAccept($event)" accept=".png, .jpg, .jpeg, .pdf" name="file" id="file" />

  <label for="file">
    <span>Add image</span>
  </label>
</div>

<div *ngIf="multiSelectedFile.length > 0">
  <ul>
    <li>
      {{multiSelectedFile.name}}
    </li>
  </ul>
</div>

<textarea name="" id="" cols="30" rows="10" #message>
  🏮🏮 Bánh Trung Thu Givral 🏮🏮 đang vô cùng Hot trên thị trường bánh trung thu năm nay. Bạn có thắc mắc bên trong chiếc hộp vô cùng bắt mắt ấy là gì?
  Tiki khui hộp giải đáp thắc mắc cho cả nhà đây ạ!
  ----------------------------------
  Trung Thu đang đến, Tiki đã sẵn sàng giúp bạn gửi những món quà ấm áp đến người bạn yêu thương!
  📍 Nhập mã "TRUNGTHU05" - GIẢM 5% cho ĐH Bánh Trung Thu từ 200.000đ - Giảm tối đa 100.000đ!
  📍 Nhập mã "TRUNGTHU08" - GIẢM 8% cho ĐH Bánh Trung Thu từ 1.000.000đ - Giảm tối đa 200.000đ!
  Chương trình chỉ áp dụng cho các sản phẩm Bánh Trung Thu thuộc TIKI TRADING. 
  ----------------------------------
  💌💌 Còn chần chừ gì mà không chọn quà Trung Thu ngay hôm nay với những gợi ý siêu hay ho tại đây http://bit.ly/Chọn-Quà-Trung-Thu-Tiki</textarea>

<button (click)="onUploadMuiltiPhotos(message.value)">upload Multi photo</button> -->
