.member {
  padding: 8px;
  background: #ffffff;
  border-radius: 15px;
}

.member h3 {
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: lighter;
}

.member-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.member-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11px;
}

.member-item img {
  max-width: 50px;
  border: 1px solid #ffe100;
  border-radius: 50%;
}

.member-item span {
  font-size: 8px;
}

.add-member:hover {
  cursor: pointer;
  border-radius: 50%;
}
