<div class="fans-by-city ">
    <strong>Top cities</strong>
    <div>
        <mat-paginator color="primary" style="flex-direction: flex-start" [pageSizeOptions]="[10, 20]"></mat-paginator>
        <table mat-table [dataSource]="dataSource" matSort matSortActive="fans" matSortDirection="desc">
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <strong> City </strong>
                </th>
                <td valign="middle" style="width: 90%;" mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>
            <ng-container matColumnDef="fans">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <strong>Fans</strong>
                </th>
                <td valign="middle" mat-cell *matCellDef="let element"> {{element.fans}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
