<h3 class="title-top">publish</h3>
<div mat-dialog-content class="custom-content">
    <div class="members">
        <h4>
            members
        </h4>
        <ul *ngIf="users.length > 0">
            <li *ngFor="let u of users[0]">
                {{u.name}}
            </li>
        </ul>
        
    </div>
    <div class="profile">
        <h4>
            profile
        </h4>
        <mat-dialog-actions>
            <button mat-button mat-dialog-close>
                No
            </button>
            <button mat-button (click)="addGroup(groupName.value)" [mat-dialog-close]="groups">
                Yes
            </button>
        </mat-dialog-actions>
    </div>

    <div class="note">
        <h4>
            note
        </h4>
    </div>
</div>
