.total {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

.total mat-card {
  width: 15%;
  background: #262A2F;
  color: #fff;
}

.total mat-card mat-card-subtitle {
  color: #8D98A9;
}
