<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<ng-template #custom let-weekEvent="weekEvent" let-tooltipPlacement="left">
  
</ng-template>


<ng-template #customCellTemplate let-day="day">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>

  <ng-container *ngIf="day.events.length > 5; then seeMore; else default">
  </ng-container>

  <ng-template #default>
    <div style="margin: 5px;">
      <ul>
        <li *ngFor="let e of day.events; let i = index" [style.background-color]="e.color.primary" class="event-custom">
          <img src="{{e.thumbnail}}" style="height: 75; width: 75px"> <br>
          <i>{{i}}: {{ e.clientName }} </i> <br>
          <i>{{ (e.message.length > 10)? (e.message | slice:0:10) + '...' : (e.message) }}</i>
        </li>
      </ul>
    </div>
  </ng-template>
  <ng-template #seeMore style="padding: 5px;">
    Click to see all events
  </ng-template>

</ng-template>


<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
        Month
      </div>
      <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
        Week
      </div>
      <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
        Day
      </div>
    </div>
  </div>
</div>

<br>

<div class="alert alert-info">
  Click on a day on the view.
  <strong *ngIf="clickedDate">You clicked on this day: {{ clickedDate | date:'fullDate' }}</strong>
</div>

<div [ngSwitch]="view" class="calendar">

  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)" [cellTemplate]="customCellTemplate">
  </mwl-calendar-month-view>

  <mwl-calendar-week-view *ngSwitchCase="'week'" 

  [viewDate]="viewDate" [events]="events">
  </mwl-calendar-week-view>

  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events">
  </mwl-calendar-day-view>
</div>

<br>

<h3>
  Preview events
  <div class="clearfix"></div>
</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Starts at</th>
      <th>Messgage</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let event of eventsFillter; let index = index">
      <td>
        <img src="{{event.thumbnail}}" alt="">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="event.start" (keyup)="refresh.next()">
      </td>
      <td>
        <p>{{event.message}}</p>
      </td>
      <td>
        <button class="btn btn-danger" (click)="events.splice(index, 1); refresh.next()">
          Delete
        </button>
      </td>
    </tr>
  </tbody>

</table>
