.calendar:hover {
  cursor: pointer;
}

// custom list contain tag a
.my-custom-class a {
  color: darkorange !important;
}

.event-custom {
  margin: 1px 0px;
  border-radius: 5px;
  padding: 5px;
}

.img-custom {
  width: 30px !important;
}

.event-image {
  height: 110px;
  width: 110px;
}
