.calendar:hover {
  cursor: pointer;
}

// custom cell contain list of event

// custom list contain tag a
.my-custom-class a {
  color: darkorange !important;
}


.event-custom {
  margin: 1px 0px;
  border-radius: 10px;
  padding: 3px;
}


.img-custom {
  width: 30px !important;
}
