<div *ngIf="onPostSuccess === true"> 
  Your post has been posted !
</div>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>SELECT GROUP</ng-template>

      <ul class="list">
        <li *ngFor="let g of groups" class="item">
          <mat-card class="group-card">
            <mat-card-content class="card-content">
              <button mat-button matStepperNext (click)="selectGroup(g)" style="width: 100%">
                GROUP {{g.groupName}}
              </button>
              <ul>
                <li *ngFor="let c of g.clients">
                  <img src="{{c.image}}" alt="" class="client-avatar">
                </li>
              </ul>

            </mat-card-content>
          </mat-card>
        </li>
        <li class="item">
          <mat-card class="group-card" style="text-align: center">
            <mat-card-content class="card-content">
              <button mat-button (click)="openDialog()" style="width: 100%">
                <i class="material-icons" style="font-size: 48px;">
                  playlist_add
                </i>
              </button>
            </mat-card-content>
          </mat-card>
        </li>
      </ul>

      <!-- <mat-form-field>
        <input matInput formControlName="firstCtrl">
      </mat-form-field> -->
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>EDIT YOUR POST</ng-template>

      <div class="edit-post">
        <div class="edit-field">
          <div class="edit" style="width: 49%">

            <div class="clients" style="margin-bottom: 34px">
              <ul style="list-style-type: none; padding: 0">
                <li>
                  <mat-card>
                    <mat-card-header>Group: {{selectedGroup.groupName}}</mat-card-header>
                    <mat-card-content class="card-content">
                      <ul class="group-client">
                        <li *ngFor="let c of selectedGroup.clients" class="item">
                          <img src="{{c.image}}" alt="" class="client-avatar">
                        </li>
                      </ul>
                    </mat-card-content>
                  </mat-card>
                </li>
              </ul>
            </div>

            <mat-card>
              <mat-card-content>
                Edit content
                <mat-form-field appearance="outline" style="width: 100%">
                  <textarea spellcheck="true" [(ngModel)]="content" style="width: 100%" matInput rows="10"
                    formControlName="secondCtrl" #post>
                    🏮🏮 Bánh Trung Thu Givral 🏮🏮 đang vô cùng Hot trên thị trường bánh trung thu năm nay. Bạn có thắc mắc bên trong chiếc hộp vô cùng bắt mắt ấy là gì?
                    Tiki khui hộp giải đáp thắc mắc cho cả nhà đây ạ!
                    ----------------------------------
                    Trung Thu đang đến, Tiki đã sẵn sàng giúp bạn gửi những món quà ấm áp đến người bạn yêu thương!
                    📍 Nhập mã "TRUNGTHU05" - GIẢM 5% cho ĐH Bánh Trung Thu từ 200.000đ - Giảm tối đa 100.000đ!
                    📍 Nhập mã "TRUNGTHU08" - GIẢM 8% cho ĐH Bánh Trung Thu từ 1.000.000đ - Giảm tối đa 200.000đ!
                    Chương trình chỉ áp dụng cho các sản phẩm Bánh Trung Thu thuộc TIKI TRADING. 
                    ----------------------------------
                    💌💌 Còn chần chừ gì mà không chọn quà Trung Thu ngay hôm nay với những gợi ý siêu hay ho tại đây http://bit.ly/Chọn-Quà-Trung-Thu-Tiki
                  </textarea>
                </mat-form-field>

              </mat-card-content>
              <mat-card-actions class="actions">
                <div class="action-left">

                  <div class="input-image">

                    <input type="file" (change)="onAccept($event)" accept=".png, .jpg, .jpeg, .pdf" name="file" id="file"
                      class="inputfile" />

                    <label mat-button for="file">
                      <span> Add media +
                      </span>
                    </label>
                  </div>


                </div>
                <div class="actions-right">
                  <button mat-button>Schedule</button>
                  <button mat-button (click)="onUploadMuiltiPhotos(content)">Post Now</button>
                  <button mat-button (click)="onUploadVideo(content)"> Upload Video </button>
                  
                </div>
              </mat-card-actions>
            </mat-card>

          </div>
          <div class="preview" style="width: 49%; height: 100%">
            <mat-card class="example-card">
              <mat-card-content>
                Preview content
                <mat-form-field appearance="outline" style="width: 100%">
                  <textarea spellcheck="true" style="width: 100%" matInput placeholder="Textarea" rows="7">{{content}}</textarea>
                </mat-form-field>

                <span>Preview image(s)</span>
                <div style="margin-top: 10px">
                  <mat-grid-list cols="5" rowHeight="160px">
                    <mat-grid-tile *ngFor="let item of base64textString">

                      <img class="img-preview" src={{item}} alt="" id="img">

                      <button class="img-preview-delete" mat-raised-button color="accent" (click)="onDeleteImgPreview(item)">
                        <i class="material-icons">
                          delete
                        </i>
                      </button>

                    </mat-grid-tile>
                  </mat-grid-list>
                </div>

              </mat-card-content>
            </mat-card>
          </div>

        </div>
      </div>

      <div class="calendar">
        <app-demo></app-demo>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>

</mat-horizontal-stepper>
