<!-- <form [formGroup]="firstFormGroup">
  <ng-template>SELECT GROUP</ng-template>
  <ul class="list">
    <li *ngFor="let g of groups" class="item">
      <mat-card class="group-card">
        <mat-card-content class="card-content">
          <div class="selected-group">
            <button mat-button (click)="selectGroup(g)" style="width: 100%">
              GROUP {{g.groupName}}
            </button>
            
          </div>

        </mat-card-content>
      </mat-card>
    </li>
    <li class="item">
      <mat-card class="group-card" style="text-align: center">
        <mat-card-content class="card-content">
          <button mat-button (click)="openDialog()" style="width: 100%">
            <i class="material-icons" style="font-size: 48px;">
              playlist_add
            </i>
          </button>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</form>

<div class="calendar" *ngIf="selectedGroup.clients.length > 0">
  <app-calendar [selectedGroup]='selectedGroup'></app-calendar>
</div> -->

<!-- <div *ngIf="clients.length > 0">
    <ul>
        <li *ngFor="let c of clients" class="client-group">
            <img src="{{c.image}}" alt="" class="client-avatar">
            <span class="client-name">{{c.name}}</span>
        </li>
    </ul>
</div> -->

<div *ngIf="selectedProject">
    <strong>Your are select:</strong> {{selectedProject.projectName}}
    <br>
    <strong>This project include</strong>
    <ul>
      <li *ngFor="let p of selectedProject.connectAccounts">
        {{p.name}} : {{p.id}}
      </li>
    </ul>
    <app-calendar [selectedGroup]="selectedProject.connectAccounts"></app-calendar>
</div>
