table {
  margin-top: 25px;
  width: 100%;
  box-shadow: none;
}

.tbl-container {
  height: 420px;
  overflow: auto;
}

.top-project {
  padding: 8px;
  background: #ffffff;
  border-radius: 15px;
}

.top-project h3 {
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: lighter;
}
