.custom-cell {
    background-color: #8ddef1 !important;
    color: #ffffff !important;
    border: none;
    font-weight: bolder !important;
    font-size: 13.5px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-cell:hover {
    background: #85C9F5 !important;
}

.cal-cell-top:focus {
    background: #85C9F5 !important;
    border: none;
}

.cal-cell-top .cal-day-number {
    font-size: 1.3rem;
    opacity: 1 !important;
    color: #ffffff;
}

.calendar:hover {
    cursor: pointer;
}

.my-custom-class a {
    color: #ffffff;
}

.my-custom-class {
    height: 100%;
}

.my-custom-class .cal-event {
    height: auto;
    border: 1px solid black;
    margin: 0 !important;
    padding: 0 !important;
}

.my-custom-class p {
    margin: 0;
}

.cal-event-action {
    vertical-align: text-bottom !important;
}

.cal-event-actions {
    vertical-align: inherit !important;
}

.cal-week-view .cal-events-row {
    height: 150px !important;
    margin-top: 2px;
}

.event-custom {
    margin: 1px 0px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.img-custom-week-view {
    width: 100%;
    margin-bottom: -5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.event-image {
    display: flex;
    align-items: center;
    justify-self: center;
    height: 90px;
    width: 90px;
}

.publishedPost {
    background: #556dd3;
    color: #ffffff;
    text-align: center;
}

.icon-week-custom-scheduled {
    color: #707070;
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
}

.icon-week-custom-done {
    color: #556dd3;
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
}

.scheduledPost {
    background: #707070;
    color: #ffffff;
    text-align: center;
}

// container [ preview event - calendar ]
.wrapper {
    display: flex;
    flex-direction: row;
}

//preview events

.preview-event {
    width: 40%;
    background: #769aff;
    height: auto;
    max-height: 679px;
    overflow-y: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

// calendar
.calendar-container {
    background-color: #8ddef1;
    border-top-left-radius: 15px;
    color: #ffffff;
    width: 60%;
}

.calendar-header {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.calendar-header h4 {
    margin: 20px;
}

.calendar-header button {
    box-shadow: none !important;
}

.custom-btn:focus {
    outline: none;
}

.loading-calendar {
    position: absolute;
    top: 50%;
    left: 50%;
}

.calendar-switch {
    margin-bottom: 1rem;

    button:nth-child(1) {
      margin-right: 1rem;
    }
}
