.custom-cell {
  background-color: #8ddef1 !important;
  color: #ffffff !important;
  border: none;
  font-weight: bolder !important;
  font-size: 13.5px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-cell:hover {
  background: #85C9F5 !important;
}

.cal-cell-top:focus {
  background: #85C9F5 !important;
  border: none;
}

.cal-cell-top .cal-day-number {
  opacity: 1 !important;
  color: #ffffff;
}

.calendar:hover {
  cursor: pointer;
}

.my-custom-class a {
  color: #ffffff;
}

.my-custom-class {
  height: 100%;
}

.my-custom-class .cal-event {
  height: auto;
  border: 1px solid black;
  margin: 0 !important;
  padding: 0 !important;
}

.my-custom-class p {
  margin: 0;
}

.cal-event-action {
  vertical-align: text-bottom !important;
}

.cal-event-actions {
  vertical-align: inherit !important;
}

.cal-week-view .cal-events-row {
  height: 150px !important;
  margin-top: 2px;
}

.event-custom {
  margin: 1px 0px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.img-custom-week-view {
  width: 100%;
  margin-bottom: -5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.event-image {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 90px;
  width: 90px;
}

.publishedPost {
  background: #556dd3;
  color: #ffffff;
  text-align: center;
}

.icon-week-custom-scheduled {
  color: #707070;
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
}

.icon-week-custom-done {
  color: #556dd3;
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
}

.scheduledPost {
  background: #707070;
  color: #ffffff;
  text-align: center;
}

// container [ preview event - calendar ]
.wrapper {
  display: flex;
  flex-direction: row;
}

//preview events

.preview-event {
  width: 40%;
  background: #769aff;
  height: auto;
  max-height: 679px;
  overflow-y: auto;
}

// calendar
.calendar-container {
  background-color: #8ddef1;
  color: #ffffff;
  width: 60%;
}

.calendar-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
}

.calendar-header h4 {
  margin: 20px;
}

.calendar-header button {
  box-shadow: none !important;
}

.custom-btn:focus {
  outline: none;
}

.loading-calendar {
  position: absolute;
  top: 50%;
  left: 50%;
}