<ng-template #customCellTemplate let-day="day">
    <div class="cal-cell-top" tabindex="4" [matTooltipShowDelay]="showDelayTooltip"
        matTooltip="There are {{ day.badgeTotal }} on this day. Click to preview">
        <div class="cell-totals">
            <span *ngFor="let group of day.eventGroups" class="badge badge-{{ group[0] }}">
                {{ group[1].length }}
            </span>
        </div>
        <span class="cal-day-number">
            {{ day.date | calendarDate:'monthViewDayNumber':locale }}
        </span>
    </div>
</ng-template>

<ng-template #headerTemplate let-days="days" let-locale="locale" let-dayClicked="dayClicked"
    let-eventDropped="eventDropped">
    <div class="cal-day-headers cursor-default">
        <div class="cal-header" *ngFor="let day of days" 
            [class.cal-past]="day.isPast" 
            [class.cal-future]="day.isFuture"
            [class.cal-drag-over]="day.dragOver" 
            (mwlClick)="dayClicked.emit({date: day.date})" mwlDroppable
            (dragEnter)="day.dragOver = true" 
            (dragLeave)="day.dragOver = false"
            (drop)="day.dragOver = false; eventDropped.emit({event: $event.dropData.event, newStart: day.date, fromHeader: true})">
            <div class="top" [class.today]="day.isToday">
                <div class="day-label text-uppercase">
                    {{ day.date | calendarDate:'weekViewColumnHeader':locale }}
                </div>
                <div class="day-number">{{ day.date | calendarDate:'weekViewColumnSubHeader':locale }}</div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #eventTemplate let-weekEvent="weekEvent" let-locale="locale">
  <!-- <img src="{{weekEvent.event.title}}" alt=""> -->
  {{weekEvent.event.title}}
  {{weekEvent.event.action}}
</ng-template>

<div class="loading-calendar" *ngIf="events.length === 0">
    <mat-spinner color="accent"></mat-spinner>
</div>

<div class="calendar-switch">
    <button mat-raised-button color="primary" (click)="changeView('month')" [class.active]="view">
        Month
    </button>
    <button mat-raised-button (click)="changeView('week')" [class.active]="view">
        Week
    </button>
</div>

<div class="wrapper">

    <div class="calendar-container">
        <div class="calendar-header">
            <button class="custom-btn" mat-mini-fab color="accent" mwlCalendarPreviousView [view]="view"
                [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                <i class="material-icons"> chevron_left </i>
            </button>
            <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
            <button class="custom-btn" color="accent" mat-mini-fab mwlCalendarNextView [view]="view"
                [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                <i class="material-icons"> chevron_right </i>
            </button>
        </div>

        <div [ngSwitch]="view" class="calendar">
            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" [refresh]="refresh"
                (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
                (beforeViewRender)="beforeMonthViewRender($event)" [cellTemplate]="customCellTemplate">
            </mwl-calendar-month-view>

            <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate"
                (dayClicked)="handleEvent('Clicked', $event.event)" [refresh]="refresh"
                (eventClicked)="handleEvent('Clicked', $event.event)" [events]="events"
                [headerTemplate]="headerTemplate">
            </mwl-calendar-week-view>

        </div>
    </div>

    <div class="preview-event">
        <app-preview-post [events]='eventsFillter'></app-preview-post>
    </div>
</div>
