<h2 mat-dialog-title>Add Group</h2>
<form [formGroup]="firstFormGroup" enctype="multipart/form-data">

<mat-dialog-content>

    <mat-form-field class="example-full-width">
      <input #groupName  matInput placeholder="Favorite food">
    </mat-form-field>

    <mat-selection-list #clientList formControlName="clientControl" [(ngModel)]="clientsSelected" required>
      <mat-list-option *ngFor="let client of data; let i of index" [selected]="client.selected" [value]="client">
        <span style="display: flex; align-items: center">
          <img src="{{client.image}}" style="width: 30px"> &nbsp; {{client.name}} </span>
      </mat-list-option>
    </mat-selection-list>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button (click)="addGroup(groupName.value)" [mat-dialog-close]="groups">Yes</button>
</mat-dialog-actions>

</form>
