<h3 class="title-top">publish</h3>
<div mat-dialog-content class="custom-content">
  <div class="row project">
    <h4>project</h4>
    <div>
      container project
    </div>
  </div>
  <div class="row post">
    <h4>your post</h4>
    <div>
      container post
    </div>
  </div>
  <div class="row review">
    <h4>review</h4>
    <div>
      container review
    </div>
  </div>
</div>

<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->

