<!-- <div *ngIf="unconfDataSource.length > 0">
  co data
  <ul>
    <li *ngFor="let i of unconfDataSource">
      {{i.postId}} -- {{i.content}} -- {{i.reach}} -- {{i.paidReach}}
      -- {{i.organicReach}} -- {{i.engagement}} -- {{i.click}} -- {{i.ctr}} -- {{i.negative}}
    </li>
  </ul>
</div>

<div *ngIf="unconfDataSource.length === 0">
  Nothing here
</div> -->

<table mat-table [dataSource]="data" class="mat-elevation-z8">

  <ng-container matColumnDef="postId">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.postId}} </td>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</table>
