<div>
    <h2>Engagement</h2>

  <div style="display: block">

    <div>
        Chọn khoảng thời gian muốn xem
        <mat-form-field>
            <mat-select [(value)]="selected" (selectionChange)="onSelectedTimeValue($event.value)">
              <mat-option *ngFor="let o of choosingDayEngagementOptions" value="{{o.date_preset}}">{{o.optionName}}</mat-option>
            </mat-select>
          </mat-form-field>
          
          <p>You selected: {{selected}}</p>
    </div>

    <div class="chart-engagement">
      <canvas 
          baseChart 
          [data]="engagementData" 
          [labels]="barChartLabels1" 
          [chartType]="barChartType1" 
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)" 
          [legend]="barChartLegend" 
          [datasets]="barChartData1">
      </canvas>
    </div>
  </div>
</div>

<app-calendar></app-calendar>

<div class="demographic">
  <h2>Demographic</h2>
  <div class="chart-container">
    <!-- Female -->
    <div class="chart">
      <canvas 
          baseChart [data]="femaleChartData" 
          [labels]="barChartLabels" 
          [chartType]="barChartType" 
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)" 
          [colors]="colors" 
          [options]="barChartOptions" 
          [legend]="barChartLegend"
          [datasets]="barChartFemaleData">
      </canvas>
    </div>

    <!-- Doughnut Chart -->
    <div class="chart">
      <canvas 
          baseChart 
          [data]="doughnutChartData" 
          [labels]="doughnutChartLabels" 
          [chartType]="doughnutChartType"
          (chartHover)="chartHovered($event)" 
          (chartClick)="chartClicked($event)" 
          [colors]="colors" 
          [datasets]="datasets">
      </canvas>
    </div>

    <!-- Male -->
    <div class="chart">
      <canvas 
          baseChart 
          [data]="maleChartData" 
          [labels]="barChartLabels" 
          [chartType]="barChartType" 
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)" 
          [options]="barChartOptions" 
          [colors]="colors" 
          [legend]="barChartLegend"
          [datasets]="barChartMaleData">
      </canvas>
    </div>
  </div>

  <div class="conclusion-demographic">
    <p>
      Kết luận: <strong>{{hightestGender}}</strong> trong độ tuổi <strong>{{hightestByAge}}</strong> chiếm đa số Fan
      củabạn.
    </p>
  </div>
</div>

<div class="fans-by-city">
  <h2>Fan theo thành phố</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Thành Phố </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="fan">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fan </th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>
    <ng-container matColumnDef="percent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
      <td mat-cell *matCellDef="let element"> {{element.percent}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <p>
    Kết luận: <strong>{{hightestPercentFansCity}}% </strong> Fan của bạn đến từ <strong>{{hightestFansCity}}</strong>.
  </p>

</div>




<app-net-like></app-net-like>

<app-page-fans-online></app-page-fans-online>