<div class="gender-chart" >
  <canvas baseChart
    [data]="doughnutChartData" 
    [labels]="doughnutChartLabels" 
    [chartType]="doughnutChartType"
    (chartHover)="chartHovered($event)" 
    (chartClick)="chartClicked($event)"
    [colors]="colors"
    [datasets]="datasets">
</canvas>
</div>

<!-- Female -->
<div class="gender-chart">
  <canvas baseChart
          [data]="femaleChartData"
          [labels]="barChartLabels"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
          [colors]="colors"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [datasets]="barChartFemaleData"
         >
  </canvas>
</div>

<!-- Male -->
<div class="gender-chart">
  <canvas baseChart
          [data]="maleChartData"
          [labels]="barChartLabels"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
          [options]="barChartOptions"
          [colors]="colors"
          [legend]="barChartLegend"
          [datasets]="barChartMaleData"
         >
  </canvas>
</div>

<p>
  Kết luận: <strong>{{hightestGender}}</strong> trong độ tuổi <strong>{{hightestByAge}}</strong> chiếm đa số Fan của bạn.
</p>