<mat-tab-group dynamicHeight>

  <mat-tab label="Content">
    <div class="example-large-box">

     <app-clients-list></app-clients-list>

    </div>
  </mat-tab>

  <mat-tab label="Scheudle">
    <div class="example-large-box">
      <app-calendar></app-calendar>
    </div>
  </mat-tab>

  <mat-tab label="Global">
    <div class="example-large-box">
      <app-analytics-detail></app-analytics-detail>
    </div>
  </mat-tab>

  <mat-tab label="Demographic">
    <div class="example-large-box">
      Demographic
    </div>
  </mat-tab>
</mat-tab-group>
