<h3 class="title-top">publish</h3>
<div mat-dialog-content class="custom-content">
    <app-projects style="width: 20%"></app-projects>
    <app-post style="width: 80%"></app-post>
</div>

<div mat-dialog-actions class="dialog-actions">
    <div class="actions-left">
        <button mat-button (click)="onPublishNow()">Publish Now</button>
        <button mat-button (click)="onAddToQueue()">Add to queue</button>
        <button mat-button (click)="onSchedule()">Schedule</button>
    </div>
    <div class="actions-right">
        <!-- <button mat-button [mat-dialog-close]="data.animal">Next</button> -->
        <button mat-button>Next</button>
    </div>
</div>
