<div class="total">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>
        {{ 'total impressions' | uppercase }}
      </mat-card-subtitle>
      <mat-card-title>
        <h1>{{totalImpression}}</h1>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>
        {{ 'total engagement' | uppercase }}
      </mat-card-subtitle>
      <mat-card-title>
        <h1>{{totalEngagement}}</h1>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>
        {{ 'total clicks' | uppercase }}
      </mat-card-subtitle>
      <mat-card-title>
        <h1>{{totalClicks}}</h1>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>
        {{ 'avg. paid reach' | uppercase }}
      </mat-card-subtitle>
      <mat-card-title>
        <h1>{{avgPaidReach}}</h1>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>
        {{ 'avg. organic reach' | uppercase }}
      </mat-card-subtitle>
      <mat-card-title>
        <h1>{{avgOrganicReach}}</h1>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
