<h4>
    Channel
</h4>
<div class="channel-wrapper">
    <strong mat-subheader>Facebook</strong>
    <mat-selection-list #optionList [(ngModel)]="connectAccount" (ngModelChange)="onNgModelChange($event)">
        <mat-list-option *ngFor="let channel of facebookConnectAccount[0].connectAccount" 
            [value]="channel">
            <p class="channel">
                <img class="channel-thumbnail" src="{{channel.thumbnail}}" alt="">
                {{channel.name}}
            </p>
        </mat-list-option>
    </mat-selection-list>
</div>
