<div>
  <h2>Thời Gian Fans Online</h2>
    <div>
      Chọn ngày muốn xem
      <mat-form-field>
            <mat-select [(value)]="selected" (selectionChange)="onSelectedTimeValue($event.value)">
              <mat-option *ngFor="let o of choosingDayEngagementOptions" value="{{o.date_preset}}">
                {{o.optionName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <p>You selected: {{selected}}</p>
    </div>

    <div style="display: block">
      <canvas baseChart
              [data]="pageFansData"
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>