<!-- <form #loginForm (ngSubmit)="login()">

  <div class="inputGroup inputGroup1">
    <label for="email1">Email</label>
    <input type="text" id="email" name="email" [(ngModel)]="email" class="email" maxlength="256" required />
    <span class="indicator"></span>
  </div>
  <div class="inputGroup inputGroup2">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" class="password" required />
  </div>
  <div class="inputGroup inputGroup3">
    <button id="login" type="submit" [disabled]="loginForm.invalid">Log in</button>
  </div>

  <br>
</form> -->

<div class="gudjob-login">
  <div class="left">
    <div class="gudjob-logo">
      <img src="https://gudjob.net/storage/2018/07/Glogo.png" alt="Gudjob Logo">
    </div>
  </div>

  <div class="right">
      <form class="login-form" action="">
          <h3>LOG IN</h3>
          <ng-container>
            <mat-form-field [color]="color" appearance="outline">
              <mat-icon matSuffix>
                how_to_reg
              </mat-icon>
              <mat-label>Username</mat-label>
              <input type="text" matInput placeholder="Username">
            </mat-form-field>
          </ng-container>
      
          <ng-container>
            <mat-form-field [color]="color" appearance="outline">
              <mat-icon matSuffix>vpn_key</mat-icon>
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="*********">
            </mat-form-field>
          </ng-container>
      
          <div class="actions">
            <mat-checkbox [(ngModel)]="checked" [labelPosition]="labelPosition">
              Remember Me
            </mat-checkbox>
      
            <a routerLink="">Forgot Password</a>
          </div>
      
          <div class="actions login-actions">
      
            <button class="gudjob-btn" mat-raised-button color="accent" (click)="loginWithGJ()">
              Log in
            </button>
      
            <button class="gudjob-btn" mat-raised-button color="primary" (click)="loginWithFb()">
              <i class="fab fa-facebook-f" style="font-size: 25px"></i>
            </button>
      
          </div>
      
          <div class="social">
            <span>or</span>
          </div>
      
          <div class="sign-up">
            <a routerLink="/sign-up">Sign Up</a>
          </div>

          <div>
            <button (click)="logoutWithFb()">Logout</button>
          </div>
      
        </form>
  </div>
</div>
