<div class="gp-login">
  <div>
    <img src="https://gudjob.net/storage/2018/07/Glogo.png" alt="GUDPOST Logo">
  </div>

  <form class="login-form">
    <h3 class="login-text" [appTextcolor]="red">
			LOG IN
		</h3>

    <div class="input-group">
		<ng-container>
			<mat-form-field [color]="color" appearance="outline">
			  <mat-icon matSuffix> how_to_reg </mat-icon>
			  <mat-label>Username</mat-label>
			  <input matInput placeholder="Email" [formControl]="emailFormControl"
			  [errorStateMatcher]="matcher" autofocus [(ngModel)]="email" >

			  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Please enter a valid email address
			  </mat-error>
			  <mat-error *ngIf="emailFormControl.hasError('required')">
				Email is <strong>required</strong>
			  </mat-error>

			</mat-form-field>
		  </ng-container>
	  
		  <ng-container>
			<mat-form-field [color]="color" appearance="outline">
			  <mat-icon matSuffix>vpn_key</mat-icon>
			  <mat-label>Password</mat-label>
			  <input required type="password" matInput [(ngModel)]="password" name="password">

			  <mat-error *ngIf="passwordFormControl.hasError('password') && ! passwordFormControl.hasError('required')">
				Your password is incorect 
			  </mat-error>
			  <mat-error *ngIf="passwordFormControl.hasError('required')">
				Password is <strong>required</strong>
			  </mat-error>

			</mat-form-field>
		  </ng-container>
	</div>

    <div class="remember-checkbox">
      <mat-checkbox [(ngModel)]="checked" name="checked" [labelPosition]="labelPosition">
        Remember me
      </mat-checkbox>
    </div>

    <div class="actions">
      <button mat-raised-button color="accent" (click)="loginWithGJ()">
        Sign Up
      </button>

      <button mat-raised-button color="primary" (click)="loginWithGJ()">
        Log in
      </button>

      <button mat-raised-button color="warn" (click)="loginWithFb()">
        <i class="fab fa-facebook-f" style="font-size: 25px"></i>
      </button>
    </div>

    <hr style="color: grey; margin: 10px;">

    <div class="forgot-password">
      <a href="#">Forgot Password</a>
    </div>

  </form>
</div>
