@import 'src/styles/_variabel';

.gp-login {
  .gudpost-logo {
    max-width: 380px;
  }
}

.login-form {
  width: 380px;

  .login-text {
    color: $gudpost-dark-grey;
  }
}

hr {
  color: $gudpost-dark-grey;
  margin: 1.5rem 0;
  width: 100%;
}
