// @import 'variables';
// @import "variables";

$gudpost-blue: #769aff; 
$gudpost-yellow: #ffe100; 
$gudpost-warn: #f57f17; 

.chart-card {
    margin: 15px;
    padding: 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chart-header {
    background: $gudpost-yellow;
    color: #ffffff;
    width: 200px;
    margin: 0;
    padding: 15px;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.chart-content {
    padding: 15px;
}

.chart-conclusion p{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    strong {
        padding: 0 5px;
    }

    &:nth-child(2) {
        font-size: xx-large;
    }
}

.icon-revert {
    transform: rotate(180deg);
}
