.custom-add-project-panel>mat-dialog-container {
    padding: 0 0 15px !important;
    padding-bottom: 0;
    border-radius: 15px;
    overflow: hidden;
}

.title-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #FFE100;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

h4 {
    text-transform: uppercase;
}

.dialog-content {
    display: flex;
    flex-direction: row;

    .info {
        min-width: 50%;
    }

    .channel {
        min-width: 25%;
    }

    .members {
        min-width: 25%;
    }
}
