<mat-card style="text-align: center">
  <mat-card-header>
    <mat-card-title>
      <h1>{{'Wellcome!'}}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, animi alias laboriosam asperiores recusandae consequuntur
      consequatur, amet autem beatae cumque aperiam? Temporibus dolorum veniam odio facere culpa, non saepe. Quae. Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Sequi, animi alias laboriosam asperiores recusandae consequuntur
      consequatur, amet autem beatae cumque aperiam? Temporibus dolorum veniam odio facere culpa, non saepe. Quae.
    </p>
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button (click)="openDialog()"
            mat-raised-button color="accent" 
            style="border-radius: 20px">
      Create post now
    </button>
  </mat-card-actions>
</mat-card>


