.group {
    margin-bottom: 20px;
}

.project {
    margin-bottom: 15px;
}

.group.grid {
    display: flex;
    flex-direction: row;
}

.left, .right {
    width: 50%;
}

.left {
    margin-right: 5px
}

.right {
    margin-left: 5px
}


