.side-nav {
  width: 268px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 70px;
}

.gudjob-public-btn {
  width: 199px;
  height: 37px;
  border-radius: 40.5px;
  background-color: #f06f5f;
}

.gudjob-public-btn:focus {
  outline: 0;
}

.project-list {
  margin-left: 70px;
  margin-top: 30px;
  width: 100%;
}

.project-list-select {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.project {
  margin-top: 10px;
}
