<div class="side-nav">
  <div class="publish">
    <a routerLink="/content" type="button" mat-raised-button color="accent" style="width: 83%;">
      <i class="material-icons">
        public
      </i>
      Publish
    </a>
  </div>

  <mat-nav-list>
      <mat-list-item *ngFor="let user of users" style="color: #fff" (click)="onSelect(user)">
         <span matLine>{{ user.fb }}</span>
         <button mat-icon-button >
            <img mat-card-avatar src="{{user.image}}" alt="">
         </button>
      </mat-list-item>
    </mat-nav-list>
</div>
