.side-nav {
  width: 248px;
  height: 100%;
  margin-left: 20px;
  padding-top: 15px;
}

.group {
  border-bottom: 1px solid #e9ebee;
  padding-bottom: 5px;
  padding-top: 5px;
}

.group.user-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.group .menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 5px;
}

.group ul {
  margin-bottom: 0;
}

.group .menu:hover {
  cursor: pointer;
  background: #e9ebee;
}

.menu span {
  padding-left: 10px;
}

.user-avatar img {
  width: 31.5px;
  height: 31.5px;
  border-radius: 50%;
  border: 3px solid #ffe100;
  margin-right: 10px;
}

.menu-icon {
  height: 31.5px;
}